<nav class="blue darken-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">ToDos</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#if isIndex }}
                <li class="active"><a href="/">ToDos</a></li>
                <li><a href="/create">Create</a></li>
            {{else }}
                <li><a href="/">ToDos</a></li>
                <li class="active"><a href="/create">Create</a></li>
            {{/if}}
        </ul>
    </div>
</nav>
