<form action="/create" method="POST">
<h2>Create ToDo</h2>

    <div class="input-field">
        <lable for="title">Title</lable>
        <input required type="text" id="title" name="title">
    </div>

    <button type="submit" class="btn">Submit</button>
</form>
