<h2>Todos</h2>

{{#if todos.length}}
<ul>
    {{#each todos }}
        <li class="todo">
            <form action="/complete" method="post">
                <input type="hidden" value="{{_id}}" name="id">
                <label>
                    {{#if this.completed}}
                        <input type="checkbox" name="completed" checked="checked" />
                        <span class="completed">{{title}}</span>
                    {{else}}
                        <input type="checkbox" value="1" name="completed" />
                        <span>{{title}}</span>
                    {{/if}}
                    <button type="submit" class="btn btn-small">Save</button>
                </label>
            </form>
        </li>
    {{/each}}
</ul>
{{else}}
    <h1>No todos</h1>
{{/if}}
